
body {
    background-color: rgba(118, 182, 208, 0.3);

}


h1 {
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.big {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h3 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.menubutton1 {


    background-color: rgb(37, 255, 211);
    border-radius: 5px;
    padding: 25px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.menubutton2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;


}

.menuContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;



}

.enterButton {
    background-color: rgb(37, 255, 211);
    border-radius: 5px;
    padding: 25px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    width: 600px;

}

.enterDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calcButtons {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;

}

.calcButton {
    background-color: rgb(37, 255, 211);
    border-radius: 5px;
    padding: 25px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100px;
    width: 150px;


}


.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;



}

.inputBoxes1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(37, 255, 211);
    border: 3px solid black;
    width: 150px;
    height: 200px;
    font-size: 28px;
  

}

.inputBoxes2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    width: 300px;
    height: 200px;
    margin-left: 25px;
    background-color: rgb(37, 255, 211);
    border: 3px solid black;
}

.inputBoxes3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 200px;
    margin-left: 25px;
    background-color: rgb(37, 255, 211);
    border: 3px solid black;

}


.history {
    width:300px;
    margin-bottom: 20px;
    overflow-wrap: anywhere;

}

.currentInput {
    width:300px;
    height: 20px;
    overflow-wrap: anywhere;
}